

.edit-form {
    max-width: 400px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}



.edit-form input[type="text"],
.edit-form textarea,
.edit-form select,
.edit-form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.edit-form textarea {
    resize: none;
}

.edit-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: #0056b3;
}
